#accordion section p {
	 display: none;
	 text-align: left;
 }
 
 #accordion section a {
	 text-align: left;
	 color: black;
	 text-decoration: none;
 }
 
 #accordion section a :hover {
	 text-decoration: none;
 }
 
 #accordion section:target p {
	 display: block;
	 text-align: left;
 }