


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table {}
.limiter {
  width: 100%;
  margin: 0 auto;
    margin-top: 73px;
    float: left;
}

.s-3-box {
    display: none;
}

.s-3-textbox {
    float: right;
    margin: 110px 0 50px 0;
    background-color: #333333;
    padding: 60px 20px 60px 20px;
    color: white; }

.s-3-textbox p {
    color: white; }
.s-3-textbox .doc-explore a {
    color: white; } 
.s-3-textbox h3 {
    font-family: 'Raleway';
    color: #d3bd96;
}

.doctors1 {}

.container-table100 {
  width: 100%;
  min-height: 100vh;
    float: left;
 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
}



table {
  border-spacing: 0;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  width: 100%;
  margin: 0 auto ;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 50px;
  background: #333333;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{  
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr { 
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 10%;
    border-right: 1px solid #b5b5b5;
}

.column2 {
    width: 35%;
    border-right: 1px solid #b5b5b5; }
.column2 h4 {
    margin-bottom: 2px;
    font-weight: 700; }

.column3 {
  width: 17.5%;
    border-right: 1px solid #b5b5b5;
}

.column4 {
  width: 17.5%;
    border-right: 1px solid #b5b5b5;
  
}

.column5 {
  width: 20%;
}



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {    
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Topic";
  }
  table tbody tr td:nth-child(3):before {
    content: "Focus";
  }
  table tbody tr td:nth-child(4):before {
    content: "Doctor";
  }
  table tbody tr td:nth-child(5):before {
    content: "";
  }
  table tbody tr td:nth-child(6):before {
    content: "";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.table {    
width: 60%;    
float: left;    
text-align: left;    
margin: 0;    
padding: 18px 20px 0 1vw;    
color: dimgray;    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="table"] {
        width: 100%;
    }
    
    
    .doctors1 {
        width: 40%;
        float: right;
    }    
    