.visit{
    display:none;
    
}

@media only screen
    and (max-width: 767px)
{
    
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


    
/* ======= MY CSS =======*/   
    
body {
    font-family: 'open sans'; }
    p { font-size: 15px; 
        line-height: 24px; 
        text-align: left;
        color: dimgrey; }
    sup {
        vertical-align: super;
        font-size: 7px;
        font-weight: bold; }

    h1 { 
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    text-align: center; }
    h2 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; }

    
a:link {color: dimgray; text-decoration: none;}
a:visited {color: dimgray; text-decoration: none;}
a:hover {color: #dbc3a0; text-decoration: none; 
 }
a:active {color: #dbc3a0; text-decoration: none;}

    

    
/* ===== NAVBAR (bootstrap) =======*/
    
.navbar {
    background-color: rgba(255,255,255,1); 
    background-image: url(../images/nav-bg.png);
    background-position: top;
    background-size: 170%;
    background-repeat: no-repeat;
    width: 100%; height: 66px;
    padding: 10px 0 48px 0; }

.navbar-brand {
    width: 160px;
    height: auto;
    margin: 0px 0 0 0px; 
    padding: 0; }

.navbar-brand img {
    width: 92%;
    margin: auto 0 0 11px;  }   
.navbar-brand p {
    width: 100%;
    text-align: center;
    font-size: 10.6px;
    line-height: 12px;
    margin: 7px 0 0 12px;
    color:gray; } 
    
.navbar-toggle, .navbar-toggle-cross{
    width: 28px; 
    margin: 21px 20px 0 0;
    background-image: url(../images/dropdown-nav.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; } 
    .navbar-toggle-cross {
        background-image: url(../images/dropdown-nav-up.png); }    

#myNavbar {
    width: 100%;
    max-height: 100vh;
    padding-bottom: 50px;
    margin: 0; } 
    
#myNavbar ul {
        margin: 25px 0 0 0; }     
    
#myNavbar li a {
        height: inherit;
        width: 80%;
        border-bottom: 2px solid rgb(230,230,230);
        margin: 0 auto;
        padding: 4vh 0; } 
            
    .nav li a:active { background-color: #877457; }
    .nav li a:hover { background-color: #877457; }

li .activelink {
        color: #e6b800; }     
    
.collapse {
    height: 100vh;
    background-color: white;
    overflow: scroll; }
    .collapse ul { 
        text-align: center;
        background-color: white; }
    .collapse li a { }
.collapse li a:link, 
.collapse li a:hover, 
.collapse li a:active { 
    background-color: rgba(0,0,0,0); }
    
.register {
        width: 100%;
        top: 0px; }
    .register a {
        width: 100%;
        background: #dbccb1;
        display: inline-block;
        padding:15px 0;
        color: #6b5838;
        font-size: 11px;
        letter-spacing: 0.3px;
        margin: 3px 5px; }
    .register a:hover {
        background: #ccbb9f; } 
    

.social {
        position: fixed;
        bottom: 2px;  right: 0;
        width: 30px;
        float: right;
        text-align: right;
        }
    .social img {
        height: 30px;
        opacity: 0.8;
        margin: 2px 0;
        border-radius: 5px 0 0 5px; }

    
/* ===== index.html ======= */  



/* ===== SECTION 1 ======= */

.section-1 {
    /*min-height: 100vh;*/
    overflow: hidden; 
    position: relative;}
.s-1-tagline {
    text-align: center;
    margin: 130px 0 0 0; }
.s-1-tagline :nth-child(1) {
    color: dimgrey;  
    background-clip: text;
    font-size: 10vw;
    line-height: 8vw; }
.s-1-tagline :nth-child(2) { 
    color: dimgrey;
    font-size: 7vw;
    line-height: 5vw;
    margin: 2vw 0 0 0; }
.s-1-tagline :nth-child(3) {
    color: dimgrey;  
    font-size: 12vw;
    line-height: 10vw;
    margin: 2vw 0 0 0;}      
    
.s-1-carousel-desktop { display: none; }
.s-1-carousel-mobile{
    text-align: center; }    
    .s-1-carousel-mobile img {
        width: 100%;
    padding-top: 66px;}
.section-1 .pbold {
    font-weight: bold; }
.slick-slide {
    outline: none; }    
    

      
/* ===== SECTION 2 ======= */      
    
.section {
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-align: center; }
.section-2 {
        width: 100%;
        height: inherit;
        background-image: url(../images/index/lobby1.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        
        border-bottom: 2px solid white; }
    
    .section-n {
        width: 100%;
        height: inherit;
        background-image: url(../images/index/banner-n2.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        padding-top: 86px;
        border-bottom: 2px solid white; }
.s-2-dark {
    width: 100%;
    height: inherit;
    padding: 100px 20px 30px 20px;
    background-color: rgba(0,0,0,0.5); }
.s-2-dark p {
    margin: 20px 0 0 0;
    color: white;
    text-align: center; }
.s-2-dark :nth-child(4) {
    font-size: 18px; }
    
    .s-2-arrow {
        width: 50px;
        height: 25px;
        margin: auto;
        cursor: pointer; }
    .s-2-arrow img {
        width: 30px;
        margin: 0; }
    
    .s-n-dark {
    width: 100%;
    height: inherit;
    padding: 100px 20px 30px 20px;
    }
.s-n-dark p {
    margin: 20px 0 0 0;
    color: white;
    text-align: center; }
.s-n-dark :nth-child(4) {
    font-size: 18px; }
    
    .s-n-arrow {
        width: 50px;
        height: 25px;
        margin: auto;
        cursor: pointer; }
    .s-n-arrow img {
        width: 30px;
        margin: 0; }




/* ===== SECTION 3 ======= */ 

.section-3 { 
    height: inherit;
    margin: 0;
    padding: 0; }

.s-3-box {
    width: 100%;
    height: inherit;
    margin: 0;
    overflow: hidden;
    border-bottom: 2px solid white;
    background-color: rgba(0,0,0,0.2);
    color: white; }
    .s-3-imgbox {
        float: left;
        width: 100%;
        height: inherit;
        overflow: hidden; }
    .s-3-imgbox img {
        width: 100%; }
    .s-3-textbox {
        width: 100%;
        height: inherit;
        float: left;
        text-align: center;
        color: white;
        padding: 30px 0 45px 0; }
    .s-3-textbox h1 {
        width: 100%;
        margin: auto;
        font-size: 35px;
        line-height: 40px; }
    .s-3-textbox p {
        width: 90%;
        margin: 18px auto 0 auto;
        color: rgba(0,0,0,0.7);
        text-align: center; }
    .s-3-explore {
        width: 80%;
        max-width: 300px;
        margin: 30px auto 0 auto;
        padding: 11px 0 12px 0;
        border: 1px solid white;
        color: white; }
.s-3-explore:hover {
    background-color: rgba(0,0,0,0.11);
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.9); }

/* ===== section-docs ======= */   
    
.section-docs {
      margin: 85px 0 0 0;
    }    



   
/* ===== SECTION 5 ======= */        

.section-5 { 
    padding: 20px 8% 0 8%;
    margin: 30px auto 0 auto; } 

.section-5 p {
    text-align: center; }
    .s-5-name {
        font-weight: bold; }
        
        
/* ===== SECTION 6 (contact us) ======= */  

.section-6 {}
.s-6-map {
    width: 100%; }
    .s-6-map img {
    width: 100%; }
.s-6-contact {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center; }
.s-6-contact button {
    border: 0px;
    border-radius: 7px;
    padding: 5px 8px;
    font-size: 14px; }
.s-6-contact button img {
    float: left; }
.s-6-contact button p {
    float: left;
    margin: 4px 0 3px 2px;
    font-size: 11px; }
.s-6-contact p {
    text-align: center; }

    
/* Centre the form within the page */
form {  
    margin-bottom: 20px;
    font-family: 'open sans';
    font-size: 14px; }

.emergency-mobile {
    display: none;
    line-height: 25px;
    background-color: rgba(0,0,0,0); 
    padding: 0;
    margin: 0;
    color: dimgray;
    font-size: 16px;
    font-weight: bold; }
.emergency-desktop {
  display: none; }   

/* Style the text boxes */
    

    
input, textarea {
    width: 80%; 
    height: 30px;
    border: 0px;
    border-top: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    text-align: center; }

textarea {
	height: 120px;
    padding: 5px; }
    
input:focus, textarea:focus {
    background-color: white;
    color: black;
    outline: none; }
    
#submit {
    height:30px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
    color: white; }
#submit:hover, #submit:active {
	background-color: rgba(0,0,0,0.5); }     


.contact-add {
    width: 100%; height: 520px; 
    background-image: url(../images/Studio-Shot-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;}
    .contact-adds{
        background-color: rgba(0,0,0,0.7);
        padding-top: 100px; }
    .contact-add-1, .contact-add-2, .contact-add-line {
        text-shadow: 0 0 3px black;
        padding-bottom: 20px;
        font-size: 14px; 
        text-align: center;
        width: 100%;
        margin: 20px 0;
        line-height: 20px; }
    .contact-add-line a {
        width: 100%;
        bottom: 35px;
        color: #e6b800;
        text-align: center; }
   
    
    
    
    
/*====== Footer ============ */
    
    .footer {
        height: 90px;
        width: 100%;
        background-color: rgba(0,0,0,0.7); }
    .footer-block {
        width: 20%;
        height: 100%;
        display: inline-block;
        float: left;
        margin: 0px;  }
    .footer ul { 
        float: left;
        height: 100%;
        padding: 25px 0 0 50px;
        margin: 0;
        text-align: left; }
    .footer ul li { 
        width: auto;
        padding: 4.5px 0;
        color: lightgrey;
        opacity: 0.7;
        font-size: 13px; }
.footer-logo {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0 auto 0 auto; 
    text-align: center;
    opacity: 0.8; }
.footer-logo img {
    width: 90px; }
    .footer p { 
        width: 100%;
        text-align: center;
        font-size: 8px;
        margin: 3px auto 0 auto;
        color: white; }
    
.footer li:hover {
    color: white; }
    
.footer-credit { display: none;
        text-align: center;
        padding: 0;
        opacity: 0.7; }
.footer-disclaimer { display: none;
        left: 20px;
        text-align: left;
        float: left;
        padding: 65px 0 0 0;
        opacity: 0.7; }
     
    
/*=====ROOMS.html PAGE=====*/


.rooms1 {
    background-image: url(../images/rooms/room-banner.jpg);  }
.rooms1 .s-2-dark {
    background-color: rgba(0,0,0,0.3); }

.rooms2-features {
    width: 100%;
    float: left;
    padding: 12px 10px 15px 10px;
    background-color: rgba(255,255,255,0.5); }
.rooms2-features div {
    width: 100%;
    display: inline-block;
    padding: 16px;
    background-color: rgba(0,0,0,0.1);
    margin: 4px; }
.rooms2-features div img {
    width: 25%;
    float: left;
    display: inline-block;
    margin: 0 10% 0 0; }
.rooms2-features div p {
    width: 60%;
    float: left;
    display: inline-block;
    text-align: left;
    font-size: 12.5px;
    line-height: 18px; }

.rooms2-features h2 {
    color: dimgray;
    text-align: left;
    margin: 30px 0;
    font-weight: bold; }
.rooms2-features ul {
    color: dimgray;
    text-align: left;
    margin: 20px 0;}
    .rooms2-features ul li {
        line-height: 25px; }
    .rooms2-features ul span {
        font-weight: bold; }

.rooms2-band {
    width: 30px;
    margin-bottom: 7px;
}

.section-3 hr {
    border: 0px;
    margin: 3px; }



    
/*=====MEDICAL.html PAGE=====*/

.medical1 {
    background-image: url(../images/medical/medical-banner.jpg); }
    .medical1-services {
        background-image: url(../images/medical/medical-banner-2.jpg); }

.medical3 {
     background-color: rgba(0,0,0,0.7); }
.medical3 p {
    color: white; }

    
/*=====DOCTORS.html PAGE=====*/
    
    .doc1 {
        background: none;
        height: inherit;}  
    .doc1 h1 {
        margin: 130px auto 30px auto;
        color: dimgray; }
    
.doc-list {
    width: 80%;
    margin: 0 auto 150px auto;
    text-align: center; }
    .doc-list li {
        width: 100%;
        height: 130px;
        float: left; }
    .doc-list p {
        text-align: center;
        margin-top: 10px; }
    
    

/*=====EXPERIENCE.html PAGE=====*/

.exp1 { background-image: url(../images/experience/exp-banner.jpg); }

.exp2 p {
    margin: 25px auto 10px auto; }
.exp2 h1 {
    font-size: 16px; 
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(255,255,255,0.4); }
.exp2 h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    margin-top: -15px; }
.exp2 .s-3-explore {
    margin-top: 30px; }
.exp2-roseready {
    width: 210px;
    margin-top: 30px; }

hr {
    border-top: 1px solid rgba(0,0,0,0.4);
    margin: -30px 0 0 0;
    padding: 0; }   
    
    


/*=====WELLBEING.html PAGE=====*/


.wb1 { 
    background-image: url(../images/wellbeing/wellbeing-banner.jpg);
    background-position: top; }
.wb3 .s-3-textbox {
    padding-top: 90px; }
.wb3 p {
    margin: 25px auto 0 auto; }
.wb3 .s-3-explore {
    margin-top: 30px; }

    
    
   
/*=====GALLERY.html PAGE=====*/  
  
    .gal1 {
        background: none;
        width: 100%;
        min-height: 85vh; }
    .gal1 h1 {
        text-align: center;
        color: dimgray;
        margin-top: 40px;
        padding: 50px 0 20px 0; }
    
    .gal-thumb {
        vertical-align: top;
        width: 48%;
        margin: 0;
        min-height: 170px;
        padding: 10px 10px 0 10px;
        overflow: visible;
        display: inline-block; }
    .gal-thumb img {
        width: 100%;
        cursor: pointer; }
    .gal-thumb img:hover {
        opacity: 0.8; }
    .gal-thumb p {
        letter-spacing: -0.5px;
        padding: 5px;
        line-height: 130%;
        text-align: center; }
    .lightbox {
        z-index: 10000;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%; height: 100vh;
        background-color: rgba(255,255,255,0.9); }
    .lightbox-cross {
        z-index: 100000;
        position: fixed;
        top: 12px; right: 15px; bottom: 0;
        width: 30px;
        height: 30px;
        cursor: pointer; }
    .lightbox-cross img {
        width: 100%;  }
    .lightbox-next {
        z-index: 10000;
        position: fixed;
        top: 45vh; right: 60px; bottom: 0;
        width: 60px;
        height: 52px;
        padding: 8px;
        cursor: pointer; }
    .lightbox-next img {
        width: 100%;
        -ms-transform: rotate(270deg); 
        -webkit-transform: rotate(270deg); 
    transform: rotate(270deg); }
    .lightbox-prev {
        z-index: 10000;
        position: fixed;
        top: 45vh; left: 60px; bottom: 0;
        width: 60px;
        height: 52px;
        padding: 8px;
        cursor: pointer; }
    .lightbox-prev img {
        width: 100%;
        -ms-transform: rotate(270deg); 
        -webkit-transform: rotate(270deg); 
    transform: rotate(270deg); }
    
    .imgbox {
        position: fixed;
        top: 35px; left: 0; right: 0; 
        width: auto;
        height: 80vh;
        margin: auto; }
    .imgbox img {
        width: 100%;
        margin-top: 30%;
    }
    .imgbox p {
        text-align: center; }
    
    .current { }
    
    
    

/*=====CONTACT.php PAGE=====*/


.contact1 {
    background-image: none; }
.contact1 h1 { 
    color: dimgray;
    margin: 120px 0 0 0; }

.contact1 form {
    width: 100%;  }
    .contact1 form p {
        text-align: center; }
    
    .contact1 form label {
        color: dimgray;
        font-weight: 600;
        margin: 12px 0 6px 0; }
    .contact1 form input,
    .contact1 form textarea {
        color: dimgray;
        border: 1px solid lightgray; }
    .contact1 form #submit {
        width: 50px; height: 50px;
        border-radius: 50%;
        margin: 5px 0 0 0; }
    .error {
        color: red; }

.contact1 .s-6-map {}

    
    
/*=====Bookappointment.php PAGE=====*/
    
    .thankyou1 {
        height: 85vh;
        width: 100%; }
    .thankyou1 p {
        text-align: center; }
    .thankyou1 a {
        font-weight: bold; }
    
    .thankyou2 {
        position: fixed;
        bottom: 0;
    }


/*=====Bookappointment.php PAGE=====*/

.bookappointment form {
    float: none;
    margin: auto; }



/*=====labreports.php PAGE=====*/

.labreports {
    height: 70vh;
    float: none;
    margin: 0 auto; }
.labreports h2 {
    color: dimgray;
    margin: -10px; }
    
    
    
    
/* ===== section-docs doctors profile pages ======= */   
    
.doctors1 {
    margin: 95px 0 0 0; 
    min-height: 35vw;
    height: inherit; }
    .doctors1 .s-3-textbox {
        padding-top: 6vw; }
    .doctors1 h3 {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        letter-spacing: 1px;
        color: bisque; }
    .doctors1 .s-3-textbox p {
        margin-top: -12px; }
    .doctors1 .s-3-imgbox {
        height: 60vw; }
    
.doctors2 {
    width: 100%;
    float: left;
    text-align: left;
    margin: 0;
    padding: 20px 5vw 0 5vw;
    color: dimgray; }
    .doctors2 h3 {
        font-size: 20px;
        color: dimgray;
        font-weight: bold; }
    
.doctors3 {
    width: 100%;
    padding: 20px 5vw 0 5vw;
    margin: 0;
    text-align: left; }
    
    .doctors3 {
        margin-bottom: 30px; } 
    .doctors3 h3 {
        font-size: 20px;
        text-align: center;
        color: dimgray;
        font-weight: bold; }
    aside {
        padding: 0; }
    aside ul {
        column-count: 2;
        padding: 0; }
    aside ul li {
        font-size: 14px;
        margin: 0;
        height: 35px;
        padding-top: 12px;
        border-bottom: 1px rgb(200,200,200) solid; }
    
.doc-explore {
        margin-top: 7vw;
        width: 55%;
    }    


    
    
    
    
    
}

.popoBG{ width:100%; height: 100%; position: fixed; left: 0; top:0; z-index: 1050; background-color: rgba(0,0,0,0.5)}

.medicalstorepopupWapper{ width:100%; height: 100%; }

.medicalstorepopupWapper .boxwapper{ width:700px; height:623px; position: fixed; left: 0; top:0; right: 0; bottom: 0; margin: auto; z-index: 1051;
background: #783545 url("../images/bg-popoup.jpg") repeat center center;}

.medicalstorepopupWapper .boxwapper .innerdiv{position: relative ; width: 97%; margin: 0 auto;}
.medicalstorepopupWapper  .closebtn{ width: 48px; height: auto; position: fixed; top: 10px; right: 10px ; background: #783545; padding: 10px 20px; border-radius: 50%; color:#fff;  font-size: 18px;box-sizing: border-box; cursor: pointer; z-index: 1050;}

.medicalstorepopupWapper .logo{ width: 138px; height: 79px; float: right; margin-right: 15px; margin-top: 15px; margin-bottom: 15px;}
.medicalstorepopupWapper p.t1{ font-size: 14px; color: #ffffff; padding: 0px 0 0 20px; font-weight: bold;}

.medicalstorepopupWapper .whiteBg{ background: #fff; border-radius: 10px; width: 100%; margin: 0 auto; padding: 20px; box-sizing: border-box;}

.medicalstorepopupWapper p.t2{ font-size: 14px; color: #783547; padding: 0px 0 15px 0; margin: 0; font-weight: bold;}

.medicalstorepopupWapper p.t3{ font-size: 16px; line-height: 1.2em; color: #fff; padding: 10px 0 0 20px; margin: 0; font-weight: bold;}
.medicalstorepopupWapper p.t4{ width: 100%; text-align: center; font-size: 16px; color: #fff; padding: 15px 0 0 0px; margin: 0; font-weight: bold;}
.bottombg{ background-color: #fff; text-align: center; font-size: 18px; color: #783547; font-weight: bold; padding: 7px 0; margin-top: 5px;}
.bottomimg{ width: 100%; height: 38px; margin: auto; display: none; text-align: center}


@media (max-width: 768px){
  
     .medicalstorepopupWapper .boxwapper{ width:100%; height:488px;  position: absolute; top:10%;   bottom: unset; }
    
    .medicalstorepopupWapper .logo{ width: 108px; height: 39px; float: none; margin-right: auto; margin-top: 10px; margin-left: auto; margin-bottom:30px;}
.medicalstorepopupWapper p.t1{ font-size: 11px; }


.medicalstorepopupWapper p.t2{ font-size: 11px; line-height: 1.2em; color: #783547; padding: 0px 0 10px 0; margin: 0; font-weight: bold;}

.medicalstorepopupWapper p.t3{ font-size: 13px; }
.medicalstorepopupWapper p.t4{ width: 100%; text-align: center; font-size: 12px; }
    .bottombg{ background-color: #fff; text-align: center; font-size: 14px; }
.medicalstorepopupWapper  .closebtn{ width: 28px; height: auto; position: absolute; top: 10px; right: 10px ; background: #783545; padding: 6px 10px; border-radius: 50%; color:#fff;  font-size: 14px;box-sizing: border-box; cursor: pointer;}
    .bottomimg{ width:50%; height: auto; margin: auto; display: block; text-align: center}
    
}

@media (max-width: 530px){   .medicalstorepopupWapper .boxwapper{ width:100%; height:518px;}
    @media (max-width: 480px){   .medicalstorepopupWapper .boxwapper{ width:100%; height:564px;}
         @media (max-width: 380px){   .medicalstorepopupWapper .boxwapper{ width:100%; height:610px;}

@media (min-width: 768px){
.modal-dialog {
    width: 650px !important;
    margin: 30px auto;
}
.modal-header .close {
    margin-top: -10px;
}
.close {
    float: right;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
   

}
.mar{
    margin-bottom: 12px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .visit{
    display:block;
        padding: 30px;
         margin-left: 200px;

}
.corp{
    display:none; 
    
}
.section-1 {
    min-height: 30vh;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
   
}
  
}
@media (min-width: 300px) and (max-width: 467px) {
    .section-1 {
    min-height: 20vh;
    overflow: hidden;
    margin-top: 80px;
        position: relative;
}
}

    