
.icon-bar {
          position: fixed;
          top: 80%;
          display: block;
          text-align: right;
          right: 0px;
          z-index: 999;
        }
@media only screen and (min-width: 768px) {        /* ======= MY CSS =======*/
body {
    font-family: 'open sans';
}
p {
    font-size: 15px;
    text-align: left;
    color: dimgrey;
}
sup {
    vertical-align: super;
    font-size: 7px;
    font-weight: bold;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
}
h2 {

    font-family: 'Raleway', sans-serif;
    font-size: 33px;
}
a:link {
    color: dimgray;
    text-decoration: none;
}
a:visited {
    color: dimgray;
    text-decoration: none;
}
a:hover {
    color: #dbc3a0;
    text-decoration: none;
}
a:active {
    color: #dbc3a0;
    text-decoration: none;
}        /* ===== NAVBAR (bootstrap) =======*/
.navbar {
    background-color: rgba(255,255,255,0.93);
    background-image: url(../images/nav-bg.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0 0 6px 0;
}
.navbar-brand {
    width: 20vw;
    max-width: 180px;
    height: inherit;
    margin: 14px 0 0 10px;
    padding: 0;
}
.navbar-brand img {
    width: 100%;
    margin: 0;
}
.navbar-brand p {
    text-align: right;
    font-size: 1.4vw;
    line-height: 12px;
    margin: 12px 0 0 12px;
    color: gray;
}
@media only screen and (min-width: 900px) {
.navbar-brand p {
font-size: 12.5px;
}
}
.navbar-toggle, .navbar-toggle-cross {
    display: none;
}
.navbar-collapse {
    width: auto;
    height: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}
#myNavbar {
    float: right;
    padding: 0;
    margin: 42px 13px 0 0;
}
#myNavbar li a {
   
    display: inline-block;
    vertical-align: text-bottom;
    height: 35px;
    border-bottom: 0px solid darkgray;
    margin: 0;
    padding: 7px 0.5vw 0 0.5vw;
    font-size: 1.4vw;
}
@media only screen and (min-width: 1100px) {
#myNavbar li a {
font-size: 13.5px;
padding: 7px 0.4vw 0 0.4vw;
}
}
.collapse {
    display: none;
}
.collapse li a {
    padding: 2px 0.4vw 10px 0.4vw;
}
.collapse li a:link, .collapse li a:hover, .collapse li a:active {
    background-color: rgba(0,0,0,0);
}
.register {
    position: absolute;
    top: -1px;
    right: 135px;
}
.register a {
    background: #dbccb1;
    display: inline-block;
    padding: 7px 10px 8px 10px;
    color: #6b5838;
    font-size: 11px;
    letter-spacing: 0.3px;
    border-radius: 0 0 7px 7px;
    margin: 0 3px;
}
.register a:hover {
    background: #ccbb9f;
}
.social {
    position: absolute;
    top: 0px;
    right: 15px;
}
.social img {
    height: 25px;
    opacity: 0.8;
    margin: 0 2px;
    border-radius: 0 0 5px 5px;
}    /* ===== index.html ======= */  /* ===== SECTION 1 ======= */
.section-1 {
    overflow: hidden;
    position: relative;
}
.s-1-tagline {
    position: absolute;
    top: 25vh;
    right: 6vw;
    text-align: center;
    margin: 0;
}
.s-1-tagline :nth-child(1) {
    color: dimgrey;
    font-size: 5vw;
    line-height: 3vw;
}
.s-1-tagline :nth-child(2) {
    color: dimgrey;
    font-size: 3.3vw;
    line-height: 2vw;
}
.s-1-tagline :nth-child(3) {
    color: dimgrey;
    font-size: 6vw;
    line-height: 5vw;
    margin: 0 0 0 0;
}
@media only screen and (min-width: 1050px) {
.s-1-tagline {
right: 9vw;
}
.s-1-tagline :nth-child(1) {
font-size: 60px;
line-height: 25px;
}
.s-1-tagline :nth-child(2) {
font-size: 38px;
line-height: 32px;
}
.s-1-tagline :nth-child(3) {
color: dimgrey;
font-size: 70px;
}
}
.s-1-carousel-mobile {
    display: none;
}
.s-1-carousel-desktop {
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.s-1-carousel-desktop img {
    height: 90vh;
    margin: 14vh 22vw 0 0;
}
.section-1 .pbold {
    font-weight: bold;
}
.slick-slide {
    outline: none;
}              /* ===== SECTION 2 ======= */
.section {
    margin: 0 auto 0 auto;    /* overflow: hidden; */
    text-align: center;
}
.section-2 {
    width: 100%;
    height: 90vh;
    background-image: url(../images/index/rainbow.JPG);
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 0px;
    border-bottom: 2px solid white;
}
    .section-n {
    width: 100%;
    height: 90vh;
    background-image: url(../images/index/banner-n1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 0px;
    border-bottom: 2px solid white;
}
.s-2-dark {
    width: 100%;
    height: inherit;
    padding: 200px 18% 100px 18%;
    background-color: rgba(0,0,0,0.5);
}
.s-2-dark p {
    margin: 20px 0 0 0;
    color: white;
    text-align: center;
}
.s-2-dark :nth-child(4) {
    font-size: 22px;
}
.s-2-arrow {
    width: 70px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}
.s-2-arrow img {
    width: 50px;
    margin: 0;
}
    
    
.s-n-dark {
    width: 100%;
    height: inherit;
    padding: 200px 18% 100px 18%;
   
}
.s-n-dark p {
    margin: 20px 0 0 0;
    color: white;
    text-align: center;
}
.s-n-dark :nth-child(4) {
    font-size: 22px;
}
.s-n-arrow {
    width: 70px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}
.s-n-arrow img {
    width: 50px;
    margin: 0;
}
    /* ===== SECTION 3 ======= */
.section-3 {
    height: inherit;
    margin: 0;
    padding: 0;
}
.s-3-box {
    width: 100%;
    height: 36vw;
    margin: 0;
    overflow: hidden;
    border-bottom: 2px solid white;
    background-color: rgba(0,0,0,0.2);
    color: white;
}
.s-3-imgbox {
    display: flex; /*to place img in center even on resize*/
    justify-content: center;
    float: left;
    width: 60%;
    height: inherit;
    overflow: hidden;
}
.s-3-imgbox img {
    width: 100%;
}
.s-3-textbox {
    width: 40%;
    height: inherit;
    float: left;
    text-align: center;
    color: white;
    padding: 7vw 0 0 0;
}
.s-3-textbox h1 {
    width: 95%;
    margin: auto;
    font-size: 4.5vw;
}
    .s-3-textbox h2 {
    width: 95%;
    margin: auto;
    font-size: 4.5vw;
}
@media only screen and (min-width: 1050px) {
.s-3-textbox h1 {
width: 80%;
font-size: 50px;
line-height: 55px;
}
    .s-3-textbox h2 {
width: 80%;
font-size: 50px;
line-height: 55px;
}
}
.s-3-textbox h1 img {
    width: 4vw;
    margin-top: 1.6vh;
}
.s-3-textbox h2 img {
    width: 4vw;
    margin-top: 1.6vh;
}
.s-3-textbox p {
    width: 70%;
    margin: 2vw auto 0 auto;
    color: rgba(0,0,0,0.7);
    text-align: center;
}
.s-3-explore {
    width: 22vw;
    margin: 5vw auto 0 auto;
    padding: 11px 0 12px 0;
    border: 1px solid white;
    color: white;
}
.s-3-explore:hover {
    background-color: rgba(0,0,0,0.11);
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.9);
}
.s-3-medical .s-3-imgbox {
    float: right;
}
.s-3-wellbeing .s-3-imgbox {
    float: right;
}      /* ===== SECTION 5 ======= */
.section-5 {
    padding: 70px 20% 50px 20%;
    margin: 30px auto;
}
 .section-h2 {
       font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    color: dimgrey;
     
}
.section-5 p {
    text-align: center;
}
.s-5-name {
    font-weight: bold;
}                /* ===== SECTION 6 (contact us) ======= */
.section-6 {
    width: 100%;
    max-width: 900px;
}
.s-6-map {
    width: 60%;
    height: inherit;
    float: left;
    text-align: right;
}
.s-6-map img {
    width: 100%;
}
.s-6-contact {
    height: 400px;
    width: 40%;
    float: left;
    padding: 12vw 0 0 3vw;
    text-align: center;
}
.s-6-contact button {
    border: 0px;
    float: left;
    border-radius: 7px;
    padding: 6px 10px;
    font-size: 14px;
}
.s-6-contact button img {
    float: left;
}
.s-6-contact button p {
    float: left;
    margin: 4px 0 3px 2px;
    font-size: 12px;
}
.s-6-contact p {
    text-align: left;
}    /* Centre the form within the page */
form {
    margin-bottom: 20px;
    font-family: 'open sans';
    font-size: 14px;
}
.emergency-mobile {
    line-height: 22px;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 15px 0;
    margin: 15px 0;
    font-weight: bold;
}
.emergency-desktop {
    display: none;
}    /* Style the text boxes */
input, textarea {
    width: 60%;
    height: 30px;
    border: 0px;
    border-top: 1px solid gray;
    padding: 5px;
    font-size: 14px;
}
textarea {
    height: 100px;
    padding: 5px;
}
input:focus, textarea:focus {
    background-color: white;
    color: black;
    outline: none;
}
#submit {
    height: 30px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
    color: white;
}
#submit:hover, #submit:active {
    background-color: rgba(0,0,0,0.5);
}
.contact-add {
    width: 100%;
    height: 520px;
    background-image: url(../images/Studio-Shot-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.contact-adds {
    background-color: rgba(0,0,0,0.7);
    padding-top: 100px;
}
.contact-add-1, .contact-add-2, .contact-add-line {
    text-shadow: 0 0 3px black;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    line-height: 20px;
}
.contact-add-line a {
    width: 100%;
    bottom: 35px;
    color: #e6b800;
    text-align: center;
}
.emergency-mobile {
    display: none;
}
.emergency-desktop {
    display: none;
    background-color: rgba(0,0,0,0);
    padding: 10px 0;
    font-weight: bold;
    color: dimgray;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}              /*====== Footer ============ */
.footer {
    height: 105px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 0 10%;
    float: left;
}
.footer-block {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0px;
}
.footer ul {
    float: left;
    height: 100%;
    padding: 25px 0 0 50px;
    margin: 0;
    text-align: left;
}
.footer ul li {
    width: auto;
    padding: 4.5px 0;
    color: lightgrey;
    opacity: 0.7;
    font-size: 13px;
}
.footer-logo {
    width: 100%;
    padding: 18px 0 0 0;
    margin: 0 auto 0 auto;
    text-align: center;
    float: left;
    opacity: 0.8;
}
.footer-logo img {
    width: 100px;
}
.footer p {
    width: 40vw;
    height: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    margin: 6px auto 0 auto;
    color: white;
}
.footer li:hover {
    color: white;
}
.footer-credit {
    width: 25vw;
    position: absolute;
    min-width: 150px;
    right: 20px;
    padding: 62px 0 0 0;
    opacity: 0.6;
}
.footer-credit p {
    width: 100%;
    text-align: right;
}
.footer-disclaimer {
    position: absolute;
    width: 25vw;
    min-width: 150px;
    left: 20px;
    text-align: left;
    float: left;
    padding: 62px 0 0 0;
    opacity: 0.6;
}
.footer-disclaimer p {
    width: 100%;
    text-align: left;
}    /*=====ROOMS.html PAGE=====*/
.rooms1 {
    background-image: url(../images/rooms/room-banner.jpg);
}
.rooms1 .s-2-dark {
    background-color: rgba(0,0,0,0.2);
}
.rooms-exquisite .s-3-imgbox {
    float: right;
}
.rooms-splendid .s-3-imgbox img {
    margin: 0 0 0 -11%;
}
.rooms2-features {
    width: 100%;
    float: left;
    padding: 25px 30px 15px 30px;
    background-color: rgba(255,255,255,0.5);
}
.rooms2-features div {
    width: 14.2%;
    height: inherit;
    float: left;
    display: inline-block;
    padding: 10px;
}
.rooms2-features div img {
    width: 50%;
    margin-bottom: 8px;
}
.rooms2-features div p {
    margin: auto;
    text-align: center;
    font-size: 12.5px;
    line-height: 19px;
}
.rooms2-features h2 {
    color: dimgray;
    text-align: left;
    margin: 30px 0;
    font-weight: bold;
}
.rooms2-features ul {
    color: dimgray;
    text-align: left;
    margin: 20px 0;
}
.rooms2-features ul li {
    line-height: 25px;
}
.rooms2-features ul span {
    font-weight: bold;
}
.rooms2-band {
    width: 60px;
    margin-bottom: 11px;
}
.section-3 hr {
    border: 0px;
    margin: 3px;
}    /*=====MEDICAL.html PAGE=====*/
.medical1 {
    background-image: url(../images/medical/medical-banner.jpg);
    background-position: bottom;
}
.medical1-services {
    background-image: url(../images/medical/medical-banner-2.jpg);
    background-position: bottom;
}
.medical3 {
    background-color: rgba(0,0,0,0.7);
}
.medical3 p {
    color: white;
}
.medical-ldr .s-3-imgbox, .medical-radio .s-3-imgbox, .medical-opd .s-3-imgbox, .medical-paed .s-3-imgbox {
    float: right;
}
.medical3 .s-3-textbox {
    padding-top: 6vw;
}
.medical-paed .s-3-textbox {
    padding-top: 4.5vw;
}        /*=====DOCTORS.html PAGE=====*/
.doc1 {
    background: none;
    height: inherit;
}
.doc1 h1 {
    margin-top: 70px;
    color: dimgray;
}
    .doc1 h2 {
    margin-top: 70px;
    color: dimgray;
}
.doc-list {
    width: 80%;
    height: 530px;
    margin: auto;
    text-align: center;
}
.doc-list li {
    width: 33%;
    height: 140px;
    float: left;
}
.doc-list p {
    text-align: center;
}            /*=====EXPERIENCE.html PAGE=====*/
.exp1 {
    background-image: url(../images/experience/exp-banner.jpg);
}
.exp-irfood .s-3-imgbox, .exp-mn .s-3-imgbox, .exp-nona .s-3-imgbox {
    float: right;
}
.exp2 p {
    margin: 25px auto 10px auto;
}
.exp2 h1 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(255,255,255,0.4);
}
.exp2 h2 {
      font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(255,255,255,0.4);
}
.exp2 .s-3-explore {
    margin-top: 30px;
}
.exp2-roseready {
    width: 210px;
    margin-top: 30px;
}
hr {
    border-top: 1px solid rgba(0,0,0,0.4);
    margin: -30px 0 0 0;
    padding: 0;
}           /*=====WELLBEING.html PAGE=====*/
.wb1 {
    background-image: url(../images/wellbeing/wellbeing-banner.jpg);
    background-position: top;
}
.wb2-gynae .s-3-imgbox {
    float: right;
}
.wb3 .s-3-textbox {
    padding-top: 90px;
}
.wb3 p {
    margin: 25px auto 0 auto;
}
.wb3 .s-3-explore {
    margin-top: 30px;
}            /*=====GALLERY.html PAGE=====*/
.gal1 {
    background: none;
    width: 96%;
    height: inherit;
}
.gal1 h1 {
    text-align: center;
    color: dimgray;
    padding: 50px 0 30px 0;
}
    .gal1 h2 {
    text-align: center;
    color: dimgray;
    padding: 50px 0 30px 0;
}
.gal-thumb {
    vertical-align: top;
    width: 20%;
    padding: 15px;
    margin: 0;
    overflow: hidden;
    display: inline-block;
}
.gal-thumb img {
    width: 100%;
    cursor: pointer;
}
.gal-thumb img:hover {
    opacity: 0.8;
}
.gal-thumb p {
    text-align: center;
    padding: 8px 0;
}
.lightbox {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
.lightbox-cross {
    z-index: 100000;
    position: fixed;
    top: 35px;
    right: 40px;
    bottom: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.lightbox-cross img {
    width: 100%;
}
.lightbox-next {
    z-index: 10000;
    position: fixed;
    top: 45vh;
    right: 60px;
    bottom: 0;
    width: 60px;
    height: 52px;
    padding: 8px;
    cursor: pointer;
}
.lightbox-next img {
    width: 100%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.lightbox-prev {
    z-index: 10000;
    position: fixed;
    top: 45vh;
    left: 60px;
    bottom: 0;
    width: 60px;
    height: 52px;
    padding: 8px;
    cursor: pointer;
}
.lightbox-prev img {
    width: 100%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.imgbox {
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    width: auto;
    height: 80vh;
    margin: auto;
}
.imgbox img {
    height: 100%;
}
.imgbox p {
    text-align: center;
}
.current {
}    /*=====CONTACT.php PAGE=====*/
.contact1 {
    width: 90%;
    background-image: none;
    height: inherit;
}
.contact1 h1 {
    text-align: center;
    color: dimgray;
    padding: 80px 0 30px 0;
}
    .contact1 h2 {
    text-align: center;
    color: dimgray;
    /*padding: 80px 0 30px 0;*/
}
.contact1 form p {
    text-align: left;
}
.contact1 form {
    width: 40%;
    height: inherit;
    float: left;
    padding: 10px 0 10 0;
}
.contact1 form label {
    display: none;
    color: dimgray;
    margin: 0 0 3px 0;
}
.contact1 form input, .contact1 form textarea {
    width: 100%;
    color: dimgray;
    margin: 0 0 10px 0;
    border: 1px solid lightgray;
}
.contact1 form #submit {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    margin: -20px 0 9px 0;
}
.error {
    color: red;
}
.contact1 .s-6-map {
    width: 35%;
    margin: 25px 0 0 0;
    padding: 0;
}
.contact1 .s-6-contact {
    width: 25%;
    padding: 2.5vw 0 0 10px;
    text-align: left;
}
.contact1 .s-6-contact button {
}
.contact1 .s-6-contact button p {
    font-size: 1.1vw;
}
.contact1 .s-6-contact button img {
}
@media only screen and (min-width: 1050px) {
.contact1 .s-6-contact button p {
font-size: 11px;
}
.contact1 .s-6-contact button {
padding: 6px 6px;
}
}        /*=====Bookappointment.php PAGE=====*/
.thankyou1 {
}
.thankyou1 p {
    text-align: center;
}
.thankyou1 a {
    font-weight: bold;
}
.thankyou2 {
    position: fixed;
    bottom: 0;
}    /*=====Bookappointment.php PAGE=====*/
.bookappointment form {
    float: none;
    margin: auto;
} /*=====labreports.php PAGE=====*/
.labreports {
    height: 70vh;
    float: none;
    margin: 0 auto;
}
.labreports h2 {
    color: dimgray;
    margin: -10px;
}        /* ===== section-docs doctors profile pages ======= */
.doctors1 {
    margin: 95px 0 0 0;    /* min-height: 35vw; */
    height: inherit;
}
.doctors1 .s-3-textbox {
    padding-top: 3vw;
}
.doctors1 h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    color: bisque;
}
.doctors1 .s-3-textbox p {
    margin-top: -17px;
}
.doctors1 .s-3-imgbox {
    height: 40vw;
}
.doctors2 {
    width: 60%;
    float: left;
    text-align: left;
    margin: 0;
    padding: 20px 20px 0 5vw;
    color: dimgray;
}
.doctors2 h3 {
    color: dimgray;
    font-weight: bold;
}
.doctors3 {
    width: 40%;
    margin: 0;
    text-align: left;
    float: right;
    padding-right: 10px;
}
.doctors3 {
    margin-bottom: 30px;
}
.doctors3 h3 {
    color: dimgray;
    font-weight: bold;
}
aside {
    padding: 0;
}
aside ul {
    column-count: 2;
    padding: 0;
}
aside ul li {
    margin: 0;
    height: 35px;
    padding-top: 5px;
    border-bottom: 1px rgb(200,200,200) solid;
}
.doc-explore {
    margin-top: 2vw;
    width: 40%;
}
}
.social {
    top: 5px !important;
}
.topLink span {
    font-size: 12px;
    line-height: 1em;
    float: left;
    margin-right: 15px;
}
.topLink img {
    float: left;
    margin-right: 10px;
}

@media (max-width: 768px) {
.topLink span {
    display: none;
}
.social {
    top: 75px !important;
}
.topLink {
    background: rgba(255,255,255,.8);
    padding: 3px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}
.topLink img {
    float: inherit;
    height: auto;
    width: 23px
}
}

@media all and (min-width: 992px) {
	.nav-item .dropdown-menu{ display: none; }
	.nav-item:hover .nav-link{ color: dimgray;  }
	.nav-item:hover .dropdown-menu{ display: block !important; }
	.nav-item .dropdown-menu{ margin-top:0; }
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.navbar-nav>li>.dropdown-menu { background-color: #f8f8f8 !important;}

@media (max-width: 768px) {
    .navbar-nav>li>.dropdown-menu .dropdown-item .nav-link { padding: 2vh 0px !important;}
}

